.ipynb_checkpoints/
__pycache__/__init__.cpython-38.pyc
examples/.ipynb_checkpoints/Introduction_to_deep_higher_order_networks-checkpoint.ipynb
examples/.ipynb_checkpoints/introduction_to_Simplicial_Attension_Networks-checkpoint.ipynb
sal/__pycache__/
stnets.egg-info/
stnets/sal/__pycache__/
stnets/__pycache__/
stnets/layers/__pycache__/
stnets/topology/__pycache__/
stnets/util/__pycache__/
docs/build/
layers/__pycache__/__init__.cpython-38.pyc
layers/__pycache__/stn_conv.cpython-38.pyc
topology/__pycache__/simplicial_complex.cpython-38.pyc
topology/__pycache__/__init__.cpython-38.pyc
util/__pycache__/__init__.cpython-38.pyc
util/__pycache__/utilities.cpython-38.pyc
tests/__pycache__/test_examples.cpython-39-pytest-6.2.5.pyc

**/*.cpython-38.pyc
**/__pycache__/**
