.pytest_cache/
.eggs/
*.egg-info/
.ipynb_checkpoints
.coverage
.coverage.*
coverage.xml
.vscode
.history
.idea
.venv
*.out
*.pt
**/*.cpython-38.pyc
**/__pycache__/**
__pycache__/
docs/build/
venv_*/

TopoNetX/
topomodelx/nn/cell/attcxn_layer.py
topomodelx/base/debug.ipynb
tutorials/hypergraph/citeseer6cls3703.pt.1
tutorials/hypergraph/cora
tags
